{% extends 'google/base.html' %}
{% block content %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/estiloCrear.css' %}">

<div style="text-align:center">
    <div style="display:flex; flex-direction:column; align-items:center;">
        <div class="card" style="width:800px;">
            <div class="card-body">
                <div class="text-center">
                    <h2>Crear sede</h2>
                </div>

                <form method="POST">
							{% csrf_token %}
                            <!--
                            <div class="form-group">
                                <label>Seleccione la empresa</label>
                                <select name="empresa" id="empresa" class="form-control">
                                    {% for empresa in empresas %}
                                        {% if empresa.estado%}
                                            <option value="{{ empresa.nombre }}">{{ empresa.nombre }}</option>
                                        {%endif%}
                                    {% endfor %}
                                </select>
                            </div>
                            -->
							{{form.as_p}}
                            <div class="form-group">
                              <label>Ubicación de la empresa</label>
                              <select name="ciudad" id="ciudad" class="form-control">
                                 {% for ciudad in ciudades %}
                                 <option value="{{ ciudad.nombre }}">{{ ciudad.nombre }}</option>
                                 {% endfor %}
                             </select>
                            </div>
							<button class="btn btn-default">
								Enviar
                            </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}