{% extends 'google/base.html' %}
{% block content %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilo123.css' %}">

<div style="text-align:center">
    <div style="display:flex; flex-direction:column; align-items:center;">
        <div class="card" style="width:800px;">
            <div class="card-body">
                <div class="text-center">
                    <h2>Editar Empresa</h2>
                </div>

                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <label>Ubicación de la empresa</label>
                        <select name="ciudad" id="ciudad" class="form-control">
                            {% for ciudad in ciudades %}
                            <option value="{{ ciudad.nombre }}" {% if empresa.ciudad.nombre == ciudad.nombre %} selected {% endif %}>{{ ciudad.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Fecha de Fundación</label>
                        <input type="date" class="form-control" id="fechaFundacion" name="fechaFundacion" max="{% now 'Y-m-d' %}" value="{{ empresa.fechaFundacion|date:"Y-m-d" }}">
                    </div>
                    <button class="btn btn-default">
                        Guardar Cambios
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}