
<div style="display: flex; justify-content: center; padding: 5%;">
  <div class="row">
  <a class="btn btn-outline-primary" href="{% url 'crearEmp' emp %}" style="text-decoration: none; font-size: 20px; color: primary;">
    <i class="bi bi-person-plus-fill"> Agregar Empleado</i>
  </a>
  </div>
</div>
{% for emple in empleados %}
<div style="display: flex; align-items: center; margin-bottom: 10px;">
      <img src="data:image/png;base64,{{emple.imagen}}" style="width: 40px; height: 40px; object-fit: cover; border-radius: 50%; margin-right: 10px;">
      <div class="empleado-info">
        <h4 style="margin: 0;">{{emple.nombres}} {{emple.apellidos}}</h4>
        <p style="margin: 0; color: gray;">{{emple.cargo}}</p>
        <div style=" font-size: 20px; color: #555; cursor: pointer;">
        <i class="bi bi-pencil"><a href='#' onclick="openSidebar('/editarEmp/{{emp}}/{{emple.documento}}')" style="text-decoration: none; color: primary;">Editar</a></i><br>
        <i class="bi bi-eye"><a href='#' onclick="openSidebar('/verEmp/{{emp}}/{{emple.documento}}')" style="text-decoration: none; color: primary;">Ver informacion</a></i>
        <i class="bi bi-eye"><a href='#' onclick="{% url 'estadoEmp' emp emple.documento%}" style="text-decoration: none; color: secondary;">Cambiar estado</a></i>
        </div>
      </div>
</div>
{% endfor %}

    <div id="nuevo-sidebar" style="display: none;">
        <button class="btn btn-outline-danger" id="sidebar-close" onclick="closeSidebar()">Cerrar</button>
        <div id="sidebar-content"></div>
    </div>

  {% load static %}
  <script type="text/javascript" src="{% static 'javascript/sidebar.js' %}"></script>