{% extends 'google/base.html' %} 
{% block content %} 
{% load static %}

<script>
  $(document).ready(function () {
    $.ajax({
      url: "{% url 'mydata'%}",
      method: "GET",
      success: function (data) {
        console.log(data);
        initMap(data);
      },
    });
  });

  function initMap(data) {
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 7,
      center: { lat: 3.933215078541915, lng: -76.56998432650508 },
    });
    const infoWindow = new google.maps.InfoWindow();
    const markers = data?.map((i) => {
      const marker = new google.maps.Marker({
        position: { lat: parseFloat(i.latitude), lng: parseFloat(i.longitude) },
        map: map,
        title: `${i.nombre}`,
        optimized: false,
      });
      marker.addListener("click", () => {
        infoWindow.close();
        infoWindow.setContent(marker.getTitle());
        infoWindow.open(marker.getMap(), marker);
        updateSidebarContent(i); // Actualiza el contenido del sidebar
        showSidebar(); // Despliega el sidebar
      });
    });

    function updateSidebarContent(markerData) {
      document.getElementById('inactivar').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('confirmationModal').style.display = 'flex';
      });

      document.getElementById('continueButton').addEventListener('click', function() {
        window.location.href = 'inactivarEmpresa/'+markerData.NIT;
        document.getElementById('confirmationModal').style.display = 'none';
      });

      document.getElementById('cancelButton').addEventListener('click', function() {
        document.getElementById('confirmationModal').style.display = 'none';
      });

      const editar = document.querySelector('#editar');
      editar.addEventListener('click', function() {
        window.location.href = 'editarEmpresa/'+markerData.NIT;
      });

      $("#sidebar-title").text(markerData.nombre);
      $("#sidebar-description").text('* DESCRIPCIÓN: '+ markerData.descripcion);
      $("#sidebar-nit").text('* NIT: '+markerData.NIT);
      $("#sidebar-mision").text('* MISIÓN: '+markerData.mision);
      $("#sidebar-vision").text('* VISIÓN: '+markerData.vision);
      $("#sidebar-telefono").text('* TELEFONO: '+markerData.telefono);
      $("#sidebar-direccion").text('* DIRECCIÓN: '+markerData.direccion);
      $("#sidebar-pagina").text(markerData.paginaWeb);
      $("#sidebar-fecha").text('* FECHA DE FUNDACIÓN: '+markerData.fechaFundacion);
      $("#sidebar-email").text('* EMAIL: '+markerData.email);
      $("#sidebar-ciudad").text('* CIUDAD: '+markerData.ciudad);
      $(document).ready(function () {
        $("#close-sidebar").click(function () {
          $("#sidebar").hide();
        });
      });
    }
    function showSidebar() {
      $("#sidebar").show();
    }
  }

</script>
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Empresas</a>
    <span class="navbar-text text-white d-flex align-items-center">Bienvenido Administrador</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <form class="d-flex position-relative ms-auto me-auto">
      <button type="button" class="btn btn-outline-warning"><a class="no-underline text-white" href="{% url 'crearEmpresa'%}">Crear Empresa</a></button>
      </form>
      <a class="navbar-text text-white d-flex align-items-center" href="#">Salir<iclass="bi bi-arrow-bar-left ms-1"></i></a>
    </div>
  </div>
</nav>
</header>
<div class="pageholder">
  <div class="linkholder">
    <div id="sidebar">
    <button class="btn btn-outline-danger" id="close-sidebar">Cerrar</button>
      <h3 style="padding-top:10%" id="sidebar-title">Aquí poner empresas</h3>
      <div class="info-container">

      <button class="edit-button" id="editar" title="Editar">&#9998;</button>

        <button type="button" class="delete-button" id="inactivar" title="Borrar">&#128465;</button>

<div id="confirmationModal" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5); z-index:1000;">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); display: inline-block;">
    <p style="color: black; font-size: 16px; text-align: center;">Estas a punto de inactivar una empresa. ¿Deseas continuar?</p>
    <div style="display: flex; justify-content: center; gap: 10px; margin-top: 20px;">
      <button type="button" id="continueButton" style="background-color: red; color: white; padding: 10px 20px; border-radius: 5px; cursor:pointer;">Continuar</button>
      <button type="button" id="cancelButton" style="background-color: lightblue; color: white; padding: 10px 20px; border-radius: 5px; cursor:pointer;">Cancelar</button>
    </div>
  </div>
</div>



      <h2 class="drawer-subtitulo">Acerca de:</h2>

      <div class="drawer-content">
        <p id="sidebar-description"></p>
      </div>

      <div class="drawer-content">
          <p id="sidebar-fecha"></p>
      </div>

      <div class="drawer-content">
        <p id="sidebar-nit"></p>
      </div>

      <div class="drawer-content">
        <p id="sidebar-mision"></p>
      </div>

      <div class="drawer-content">
        <p id="sidebar-vision"></p>
      </div>

      <div class="drawer-content">
        <p id="sidebar-telefono"></p>
      </div>
      <!--
      <div class="drawer-content">
        <p id="sidebar-ciudad"></p>
      </div
      -->

      <div class="drawer-content">
        <p id="sidebar-direccion"></p>
      </div>

        <h2 class="drawer-subtitulo">Pagina oficial:</h2>
        <div class="drawer-pagina">
          <a id="sidebar-pagina" href="#" class="color-web"></a>
        </div>


      <div class="drawer-content">
        <p>* ESPECIALIDADES Y SERVICIOS DE LA EMPRESA: ESTA OPCIÓN AÚN NO ESTA DISPONIBLE</p>
      </div>


    </div>
      <center><button class="btn btn-outline-primary" onclick="openSidebar('/listaEmp/')">Ver personal</button></center>
    </div>
    <div id="nuevo-sidebar" style="display: none;">
        <button class="btn btn-outline-danger" id="sidebar-close" onclick="closeSidebar()">Cerrar</button>
        <div id="sidebar-content"></div>
    </div>
    <div class="mapholder">
      <div id="map"></div>


      <script
        src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly"
        defer
      ></script>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'javascript/sidebar.js' %}"></script>
{% endblock content %}