{% extends 'google/base.html' %} 
{% block content %} 
{% load static %}

<script>
  $(document).ready(function () {
    $.ajax({
      url: "{% url 'mydata'%}",
      method: "GET",
      success: function (data) {
        console.log(data);
        initMap(data);
      },
    });
  });

  function initMap(data) {
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12,
      center: { lat: 3.43722, lng: -76.5225 },
    });
    const infoWindow = new google.maps.InfoWindow();
    const markers = data?.map((i) => {
      const marker = new google.maps.Marker({
        position: { lat: parseFloat(i.latitude), lng: parseFloat(i.longitude) },
        map: map,
        title: `${i.nombre}`,
        optimized: false,
      });
      marker.addListener("click", () => {
        infoWindow.close();
        infoWindow.setContent(marker.getTitle());
        infoWindow.open(marker.getMap(), marker);
        updateSidebarContent(i); // Actualiza el contenido del sidebar
        showSidebar(); // Despliega el sidebar
      });
    });

    function updateSidebarContent(markerData) {
      document.getElementById('inactivar').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('confirmationModal').style.display = 'flex';
      });

      document.getElementById('continueButton').addEventListener('click', function() {
        window.location.href = 'inactivarEmpresa/'+markerData.NIT;
        document.getElementById('confirmationModal').style.display = 'none';
      });

      document.getElementById('cancelButton').addEventListener('click', function() {
        document.getElementById('confirmationModal').style.display = 'none';
      });


      const editar = document.querySelector('#editar');
      editar.addEventListener('click', function() {
        window.location.href = '/editarEmpresa/'+markerData.NIT;
      });

      let emp = markerData.nombre;
      document.getElementById('personal_link').setAttribute('onclick', 'openSidebar(\'/listaEmp/'+emp+'\')');

      $("#sidebar-title").text(markerData.nombre);
      $("#sidebar-description").text('DESCRIPCIÓN: '+ markerData.descripcion);
      $("#sidebar-nit").text('NIT: '+markerData.NIT);
      $("#sidebar-mision").text('MISIÓN: '+markerData.mision);
      $("#sidebar-vision").text('VISIÓN: '+markerData.vision);
      $("#sidebar-telefono").text('TELEFONO: '+markerData.telefono);
      $("#sidebar-direccion").text('DIRECCIÓN: '+markerData.direccion);
      $("#sidebar-pagina").text(markerData.paginaWeb);
      $("#sidebar-fecha").text('FECHA DE FUNDACIÓN: '+markerData.fechaFundacion);
      $("#sidebar-email").text('EMAIL: '+markerData.email);
      $("#sidebar-ciudad").text('CIUDAD: '+markerData.ciudad);
      $(document).ready(function () {
        $("#close-sidebar").click(function () {
          $("#sidebar").hide();
        });
      });
    }
    function showSidebar() {
      $("#sidebar").show();
    }
  }

</script>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Empresas</a>
      {% if user.rol == 'Administrador' %}
      <span class="navbar-text text-white d-flex align-items-center">Bienvenido Administrador</span>
      {% else %}
      <span class="navbar-text text-white d-flex align-items-center">Bienvenido {{ user.username }}</span>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Agregar el siguiente código para el icono de búsqueda -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch"
        aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
        <i class="bi bi-search"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        {% if user.rol == 'Administrador' %}
        <form class="d-flex position-relative ms-auto me-auto">
        <button type="button" class="btn btn-outline-primary"><a class="btn btn-outline-info text-decoration-none text-white" id="btn-crear" href="{% url 'crearEmpresa'%}">Crear Empresa</a></button>
        </form>
  
        <a class="navbar-text text-white d-flex align-items-center" href="{% url 'logout' %}">Salir<i class="bi bi-arrow-bar-left ms-1"></i></a>
        {% else %}
        <div class="navbar-nav ms-auto">
          <a class="navbar-text text-white" href="{% url 'logout' %}">Salir<i class="bi bi-arrow-bar-left ms-1"></i></a>
        </div>
        {% endif %}
      </div>
  
      <!-- Agregar el siguiente código para la barra de búsqueda -->
      <div class="collapse navbar-collapse" id="navbarSearch">
        <form class="d-flex ms-auto">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  
</header>
<div class="pageholder">
  <div class="linkholder">
    <div id="sidebar">
      <h3 style="padding-top:2%" id="sidebar-title">Aquí poner empresas</h3>
      <div class="info-container">
      <button class="icon-cancel" style="color: #00a6ff;" title="Cerrar" id="close-sidebar"></button>
      {% if user.rol == 'Administrador' %}
      <button class="icon-pencil" style="color:orange" id="editar" title="Editar" ></button>
      <button type="button" class="icon-block" style="color:red" id="inactivar" title="Borrar"></button>
      {% else %}
        <button class="icon-pencil" id="editar" title="Editar" style="display:none;"></button>
        <button type="button" class="icon-block" id="inactivar" title="Borrar" style="display:none;"></button>

        {% endif %}
        <div id="confirmationModal" style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.5); z-index:1000;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); display: inline-block;">
          <p style="color: black; font-size: 16px; text-align: center;">Estas a punto de inactivar una empresa. ¿Deseas continuar?</p>
          <div style="display: flex; justify-content: center; gap: 10px; margin-top: 20px;">
            <button type="button" id="continueButton" style="background-color: red; color: white; padding: 10px 20px; border-radius: 5px; cursor:pointer;">Continuar</button>
            <button type="button" id="cancelButton" style="background-color: lightblue; color: white; padding: 10px 20px; border-radius: 5px; cursor:pointer;">Cancelar</button>
          </div>
        </div>
      </div>

      <h2 class="drawer-subtitulo">Acerca de:</h2>
      
      <div class="drawer-content">
        <ul>
          
          <li id="sidebar-nit"></li>
          <li id="sidebar-fecha"></li>
          <li id="sidebar-description"></li>
          <li id="sidebar-mision"></li>
          <li id="sidebar-vision"></li>
          <li id="sidebar-telefono"></li>
          <li id="sidebar-direccion"></li>
          <!--<li id="sidebar-ciudad"></li>-->
          <li>ESPECIALIDADES Y SERVICIOS DE LA EMPRESA: ESTA OPCIÓN AÚN NO ESTA DISPONIBLE</li>
        </ul>
      </div>

        <h2 class="drawer-subtitulo">Pagina oficial:</h2>
        <div class="drawer-pagina">
          <a id="sidebar-pagina" href="#" class="color-web"></a>
        </div>

    </div>
    <br>
       <center><button class="btn btn-outline-primary" id="personal_link" onclick="">Ver personal</button></center>
    </div>


    <div id="nuevo-sidebar" style="display: none;" >
     <button class="btn btn-outline-danger" id="sidebar-close" onclick="closeSidebar()">Cerrar</button>
        <div id="sidebar-content"></div>
    </div>
    <div class="mapholder">
      <div id="map"></div>

      <script
        src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap&v=weekly"
        defer
      ></script>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'javascript/sidebar.js' %}"></script>
{% endblock content %}