/* Estilos para la tarjeta */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.card {
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    /*opacity: 0.6;*/
    overflow: hidden;
    margin: 0 auto;
    width: 90%;
    align-items: center;
}

#sidebar-close {
    position: absolute;
    top: 2%;
    left: 3%;
    border: none;
    background: none;
    text-decoration: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #000000;
}

.card-body {
    padding: 2%;
    text-align: left;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
  color: #00A3FF;
  margin-top: 15%;

}

label {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #2b2a2a;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    margin-top: 3%;
}

.form-control {
    width: 95%;
    height: 43px;
    border-radius: 18px;
    border: 1px solid #000000;
    background-color: #eeeded;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #7D6F6F;
}

.form-control:focus {
    outline: none;
    border: 1px solid #4e73df;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    margin: center;
}

.btn-primary {
    background-color: #46A6FF;
    color: #fff;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para los botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}


.btn-primary {
    background-color: #46A6FF;
    color: #fff;
}

.btn-danger {
    background-color: #e74a3b;
    color: #fff;
}

.btn-success {
    background-color: #1cc88a;
    color: #fff;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para las sombras */
.shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilos para las líneas divisoras */
.divider {
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
}

/* Estilos para los bordes circulares */
.rounded {
    border-radius: 30px;
}

/* Estilos para los colores de las etiquetas */
.label {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-right: 10px;
}

.label-primary {
    background-color: #46A6FF;
    color: #fff;
}

.label-danger {
    background-color: #e74a3b;
    color: #fff;
}

.label-success {
    background-color: #1cc88a;
    color: #fff;
}

p {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e9ecef;
  border-color: #ced4da;
  border-radius: 20px;
  padding: 3px 10px;
  margin-right: 5px;
  font-size: 14px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #6c757d;
  font-size: 14px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #343a40;
}

.select2-container--default .select2-selection--multiple {
  border-radius: 20px;
  height: auto !important;
  min-height: 38px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  line-height: 28px;
}

.select2-container--default .select2-selection--multiple .select2-selection__arrow {
  height: 34px;
  top: 2px;
}
