.pageholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title2 {
    color: white;
  }
  
  .title2:hover {
    color: rgb(2, 0, 20);
  }

  .titleholder,
  .linkholder {
    display: block;
    margin-top: 0px;
    width: 100%;
    border-radius: 0px;
    justify-content: space-between;
  }

  .ourbutton {
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(0, 0, 80);
    color: white;
  }

  #editar {
    border: none;
    background: none;
 }

 #editarSede {
  border: none;
  background: none;
}

 #close-sidebar {
    border: none;
    background: none;
 }

 #inactivar {
    border: none;
    background: none;
 }

 #inactivarSede {
  border: none;
  background: none;
}

 .ourbutton:hover {
    margin-right: 10px;
    background-color: rgb(142, 142, 142);
    color: white;
  }

  .titleholder {
    display: "flex";
    justify-content: "space-between";
    background-color: #4267b2;
    align-items: center;
    height: 40px;
  }

  .linkholder {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    justify-content: space-around;
  }
  
  .title {
    color: white;
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .linkbox {
    display: flex;
    width: 20%;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .myTable2 {
    font-size: 12px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 400px;
    overflow: hidden;
    border-radius: 7px 7px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .myTable2 th {
    background-color: #2d323e;
    color: white;
    font-weight: bold;
  }

  .myTable2 td,
  .myTable th {
    border: 0.01em solid #e3e2e2;
  }
  
  .myTable2 tr:nth-child(even) {
    background-color: #f9f8f8;
  }

  .mapholder {
    height: 850px;
    width: 100%;
    position: relative;
  }

  #map {
    height: 100%;
    width: 100%;
  }

#sidebar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 900px; /* añadido: establece una anchura máxima */
  max-height: 70%; /* añadido: establece una altura máxima */
  background-color: white;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: none;
  z-index: 1; /* nivel superior al mapa */
  overflow: auto;
  margin: auto; /* añadido: centrar horizontal y verticalmente */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1%;
}

#sidebarSede {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 900px;
  /* añadido: establece una anchura máxima */
  max-height: 70%;
  /* añadido: establece una altura máxima */
  background-color: white;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: none;
  z-index: 1;
  /* nivel superior al mapa */
  overflow: auto;
  margin: auto;
  /* añadido: centrar horizontal y verticalmente */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1%;
}

@media only screen and (max-width: 767px) {
  .mapholder {
    margin-right: 0;
  }

  #sidebar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
    max-width: 500px; /* añadido: establece una anchura máxima */
    max-height: 70%; /* añadido: establece una altura máxima */
    background-color: white;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
    padding: 30px;
    display: none;
    z-index: 1; /* nivel superior al mapa */
    overflow: auto;
    margin: auto; /* añadido: centrar horizontal y verticalmente */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2%;
  }

    #sidebarSede {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
    max-width: 500px;
    /* añadido: establece una anchura máxima */
    max-height: 70%;
    /* añadido: establece una altura máxima */
    background-color: white;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.3);
    padding: 30px;
    display: none;
    z-index: 1;
    /* nivel superior al mapa */
    overflow: auto;
    margin: auto;
    /* añadido: centrar horizontal y verticalmente */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2%;
  }


}

#gestionDropdown:hover {
  background-color: #ffffff; /* Cambia el color de fondo al hacer hover */
  color: #000000; /* Cambia el color del texto al hacer hover */
  /* Agrega cualquier otro estilo adicional que desees */
}