{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'lore.css' %}">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Nombre de la empresa -->
      <div class="row d-flex align-items-center">
          <div class="col-5">
              <h2>Empresa</h2>
          </div>
          <div class="col-3"><button class="btn btn-success"><i class="bi bi-check"></i></button></div>
          <div class="col-4"><img src="{% static 'img/empresa.png' %}"  width="100" alt="Logo de la empresa"></div>
        </div>
      <!-- Nombre del empleado -->
      <div class="form-group d-flex flex-column align-items-center">
        <img src="{% static 'img/empleado.png' %}" alt="Imagen del empleado" width="80">
        <label for="nombre">Nombre del empleado</label>
        <input type="text" class="form-control texto-rojo" id="nombre" value="Juan Pepito">
      </div>
      <!-- Rol que desempeña -->
      <div class="form-group">
        <label for="rol">Rol que desempeña</label>
        <input type="text" class="form-control texto-gris" id="rol" value="Product Manager ">
      </div>
      <!-- Tiempo en el rol -->
      <div class="form-group">
        <label for="tiempo">Tiempo en el rol</label>
        <input type="text" class="form-control texto-gris" id="tiempo" value="16 años">
      </div>
      <!-- Formación y conocimientos -->
      <div class="form-group">
        <label for="formacion">Formación y conocimientos</label>
        <textarea class="form-control texto-gris" id="formacion" rows="3">Estudió en la universidad San Buenaventura de Cartagena...</textarea>
      </div>
      <!-- Botón de cargar un video -->
      <div class="form-group">
        <label for="video">Cargar un video</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="video">
          <label class="custom-file-label" for="video">Seleccionar archivo</label>
        </div>
      </div>
      <!-- Título del video -->
      <div class="form-group">
        <label for="titulo">Título del video</label>
        <input type="text" class="form-control texto-rojo" id="titulo" value="¿Quieres conocer...">
      </div>
      <!-- Descripción del video -->
      <div class="form-group">
        <label for="descripcion">Descripción del video</label>
        <textarea class="form-control texto-gris" id="descripcion" rows="3">#ConozcamosMejorAPepito</textarea>
      </div>
      <!-- Imagen de un video de ejemplo -->
      <div class="form-group">

        <img src="{% static 'img/video2.avif' %}" alt="Video de ejemplo" class="img-fluid p-0">
      </div>
    </div>
  </div>
</div>