{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lore.css' %}" xmlns="http://www.w3.org/1999/html">

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- Nombre de la empresa -->
      <div class="row d-flex align-items-center">
          <div class="col-5">
              <h2>Empresa</h2>
          </div>
          <div class="col-3"><button class="btn btn-success"><i class="bi bi-check"></i></button></div>
          <div class="col-4"><img src="{% static 'img/empresa.png' %}"  width="100" alt="Logo de la empresa"></div>
        </div>
      <form method="POST"  enctype="multipart/form-data">
      {% csrf_token %}
          {{form.as_p}}
        <div class="form-group">
            <label for="uploadFromPC">Foto del empleado:</label>
            <input type="file" name="uploadFromPC" id="uploadFromPC" class="myButton" title="Upload From PC" value= "Upload from PC" onchange="uploadPC()" style="float:left;">
          </div>
          <div class="form-group">
            <label for="video">Entrevista del empleado:</label>
            <input type="file" name="video" id="video" class="myButton" title="Upload From PC" value= "Upload from PC" onchange="uploadPC()" style="float:left;">
          </div>
          <div class="form-group">
            <label for="pdf">Permisos de visualización de la entrevista:</label>
            <input type="file" name="pdf" id="pdf" class="myButton" title="Upload From PC" value= "Upload from PC" onchange="uploadPC()" style="float:left;">
          </div>
        <button class="btn btn-default">
								Enviar
                            </button>
    </form>
    </div>
  </div>
</div>
