{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/lore.css' %}">
<br>
<div class="container">
  <div class="drawer">
    <h4 class="drawer-lore">{{ empresa.nombre }}</h4>
    <h2 class="drawer-lore2">Juan Pepito Perez</h2>
    <div class="drawer-info">
      <h2 class="drawer-lore3"><b class="negrilla">Rol que desempeña:</b> Product Manager </h2>
      <h2 class="drawer-lore4"><b class="negrilla">Tiempo en el rol:</b> 16 años</h2>
      <h2 class="drawer-lore5"><b class="negrilla">Formación y conocimientos:</b> Estudió en la universidad Buenaventura de Cartagena</h2>
    </div>
    <h2 class="drawer-paginas">¿Quieres conocer mejor a Juan Pepito Perez?</h2>
    <h2 class="drawer-lore6">#ConozcamosMejorAPepito #DescribiendoMiTrabajo #ProductManager</h2>
    <iframe style="width: 100%; height: 250" width="500" class="videos" height="250" src="https://www.youtube.com/embed/KVakLLMBQxg" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
        
