{% extends 'google/base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

  <link rel="stylesheet" type="text/css" href="{% static 'css/estiloCrear.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/fontello.css' %}">

  <div style="display:flex; flex-direction:column; align-items:center;">
    <div class="card" style="width:90%;">
        <div class="card-body">
            <div class="text-center">
                <a class="icon-cancel" title="Cerrar" id="sidebar-close" href="{% url 'map' %}"></a>
                <h2>Crear Empresa</h2>
            </div>
            <form method="POST" class="form_2_cols">
                {% csrf_token %}
                <div style="display:flex; justify-content:space-between;" class="row">

                        <div class="col-md-6">
                        {{ form.as_p }}
                        </div>


                        <div class="col-md-6">

                            <div class="form-group">
                                <label>Ubicación de la empresa*</label>
                                <select name="ciudad" id="ciudad" class="form-control">
                                    {% for ciudad in ciudades %}
                                    <option value="{{ ciudad.nombre }}">{{ ciudad.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Fecha de Fundación*</label>
                                <input type="date" class="form-control" id="fechaFundacion" name="fechaFundacion"
                                       max="{% now 'Y-m-d' %}" required>
                            </div>
                        </div>
                    </div>


                     <div class="form-group">
                        <label for="id_especialidades">Especialidades:</label>
                        <select name="especialidades" id="id_especialidades" class="select2 form-control" multiple>
                          {% for especialidad in especialidades %}
                            <option value="{{ especialidad.pk }}">{{ especialidad.nombre }}</option>
                          {% endfor %}
                        </select>
                      </div>

                      <div class="form-group">
                        <label for="id_servicios">Servicios:</label>
                        <select name="servicios" id="id_servicios" class="form-control select2" multiple>
                          {% for servicio in servicios %}
                            <option value="{{ servicio.pk }}">{{ servicio.nombre }}</option>
                          {% endfor %}
                        </select>
                      </div>



                <button class="btn btn-default">
                    Enviar
                </button>
            </form>
        </div>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
$(document).ready(function() {
  $('.select2').select2();
});
</script>
{% endblock %}
